
html, body {
    height: 100%;
}

body {
    color: #bfbfbf;
    background: whitesmoke;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
}

.imgCandidat {
    margin-top: 10px;
    margin-bottom: 10px;
}

.titreCandidat {
    margin-bottom: 0px;
}

.titreIngredient {
    margin-top: 10px;
    margin-bottom: 10px;
}

.titreCommentaire {
    margin-top: 10px;
    margin-bottom: 10px;
}

.checked {
    color: orange;
}

.primaryBtn {
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 1rem;
    color: white;
    text-decoration: none;
    background-color: #ffd715;
    border: 2px solid #f47321;
    line-height: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submitBtn {
    color: #fff !important;
    background-color: #f47321;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    height: 32px;
    font-size: 14px;
    outline: medium none;
    padding: 0 10px !important;
    margin-bottom: 10px !important;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.inputChamp {
    background-color: #f6f6f6;
    border: 1px solid #E4E3E3;
    border-radius: 10px;
    height: 32px;
    width: 100%;
    color: #69676a;
    font-size: 14px;
    outline: medium none;
    padding: 0 10px !important;
    margin-bottom: 10px !important;
    box-sizing: border-box;
    -webkit-appearance: none;
    width:30%;
}

.inputTextArea {
    font-size: 1rem;
    border-radius: 4px;
    padding: 12px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}


#header {
    display: block;
}

#loginBar {
    display: block;
    padding: 5px 20px;
    width: 70%;
    margin: auto;
}

#loginBar .login {
    display: block;
    float: right;
    margin-bottom: 10px;
}

#global {
    display: block;
    clear: both;
    min-height: 100%; /* Voir commentaire sur html et body plus haut */
    background: wheat;
    width: 70%;
    margin: auto; /* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;
}

#titreBlog, #piedBlog {
    text-align: center;
}

#categorie {
    margin: 1rem 0;
    text-align: center;
    box-shadow: none;
    border-top: 1px solid #ddd;
}

#categorie ul li {
    display: inline-block;
    margin-bottom: 0.5rem;
}

#categorie ul li a {
    display: inline-block;
    color: black;
    line-height: 48px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 12px;
}

#categorie li.selected a {
    border-bottom: 4px solid #f47321;
}

#txtCommentaire {
    width: 50%;
}

.error{
    color: red !important;
}
